{% extends "base.html" %}

{% block title %}Display Logs{% endblock %}

{% block head_extra %}
<style>
    /* place the controls side by side using flex and flex-wrap */
    #options {
        display: flex;
        gap: 2em;
        margin-top: 1em;
        /* https://developer.mozilla.org/en-US/docs/Web/CSS/flex-wrap */
        flex-wrap: wrap;
        flex-flow: wrap;
    }

    #options legend {
        font-weight: bold;
        margin-bottom: 0.5em;
        color: rgb(67, 67, 67);
    }
    
    #download-csv-link {
        padding: 7.5px 10px;
        margin: 0px;
        border-radius: 5px;
    }

    #log-display-area {
        margin-top: 20px;
        max-height: 600px;
        overflow-y: auto;
        overflow-x: auto
    }

    .datetime-input-label {
        /* display: inline-block; */
    }

    #controls {
        /* https://developer.mozilla.org/en-US/docs/Web/CSS/flex */
        display: flex;
        flex: 1 1 300px;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-end;
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f9f9f9;
    }

    /* buttons */
    .btn-sort {
        position: absolute;
        right: -5px;
        background: transparent;
        color: #999;
        font-size: 1em;
    }

    .asc {
        top: -21%;
        margin: 10px;
        padding: 1px;
    }

    .desc {
        top: 16%;
        margin: 10px;
        padding: 1px;
    }

    .active {
        color: #444;
    }
</style>
{% endblock %}

{% block content %}
<h1>Display Processed Logs</h1>

{% if available_files %}
<div id="options">
    <div class="suboptions">
        <label for="log-select">Select Log File:</label>
        <select id="log-select">
            <option value="">-- Select a File --</option>
            {% for file_id, orig_name in available_files.items() %}
            <option value="{{ file_id }}">{{ orig_name }} (ID: {{ file_id }})</option>
            {% endfor %}
        </select>
    </div>

    <fieldset id="controls">
        <legend>Controls:</legend>
        <div id="filter-controls">
            {% include 'filter_controls.html' %}
        </div>

        <button class="blue-btn" id="sort-reset-btn">Reset Sort</button>

        <!-- Ref: https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/a -->
        <a href="#" id="download-csv-link" class="blue-btn" download>Download this CSV</a>

    </fieldset>
</div>

<p id="loading-message" style="display: none;">Loading...</p>
<div id="log-display-area">
    <table id="log-table">
        <thead></thead>
        <tbody></tbody>
    </table>
    <p id="error-message" style="color: red; display: none;"></p>
</div>

{% else %}
<p>No processed log files available. Please <a href="{{ url_for('upload_page') }}">upload</a> some files first.</p>
{% endif %}
{% endblock %}

{% block scripts_extra %}
<script type="module" src="{{ url_for('static', filename='js/display.js') }}"></script>
{% endblock %}