<label class="datetime-input-label" for="datetime">Select start date and time</label>
<input type="date" class="date-input" id="start-date" required>
<input type="time" class="time-input" id="start-time" step="1" required>


<label class="datetime-input-label" for="datetime">Select end date and time</label>
<input type="date" class="date-input" id="end-date" required>
<input type="time" class="time-input" id="end-time" step="1" required>

<button class="green-btn" id="filter-apply-btn">Apply Filter</button>
<button class="green-btn" id="filter-reset-btn">Reset Filter</button>